/*
Thank you to Christophe Molina B. for the wine glass.
The wine glass is taken from the following pen
https://codepen.io/10tribu/pen/hqmvI
The pen is based on Chris Church's Dribbble:
http://dribbble.com/shots/691174-Wine-wine-wine
Make sure you check them out!
Chris Church's twitter: @ChrisChurch8
Christophe's twitter: @monstasaurous
*/

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  .wine {
    position: relative;
    margin: 20px auto;
    width: 80px;
    height: 95px;
    background-color: rgba(228, 162, 160, 1.0);
    border: 5px solid #000;
    border-radius: 2px 2px 0px 0px;
    border-bottom-right-radius: 40px 35px;
    border-bottom-left-radius: 40px 35px;
    /* box-shadow: 
      0px 0px 0px 3px #fff inset,
      -200px -400px 0px -17px rgba(118, 10, 35, 1.0) inset,
      -23px -44px 0px -17px #fff inset,
      -40px -65px 0px -17px rgba(198, 23, 69, 1.0) inset,
      -43px -69px 0px -17px #fff inset; */
    animation: fill 8s infinite alternate;
    transform-style: preserve-3d;
      transform-origin: 50% 0;
      transform: translate3d(0,0,0) perspective(100px) rotateX(10deg);
  }
  .wine:before,
  .wine:after {
    content: '';
    position: absolute;
    background-color: #000;
  }
  .wine:before {
    top: 100%;
    left: 32px;
    width: 6px;
    height: 40px;
  }
  .wine:after {
    top: 125px;
    left: 5px;
    width: 60px;
    height: 5px;
    border-radius: 30px 30px 0px 0px;
  }
  
  @keyframes fill {
    from {
      background-color: rgba(228, 162, 160, 0);
        box-shadow: 
        3px 0px #fff inset,
        -3px 0px #fff inset,
        -3px -3px #fff inset,
        3px -3px #fff inset,
        0px 3px #fff inset,
        0px -3px #fff inset,
        -20px -40px 0px -17px rgba(118, 10, 35, 0) inset,
        -23px -44px 0px -17px #fff inset,
        -40px -65px 0px -17px rgba(198, 23, 69, 0) inset,
        -43px -69px 0px -17px #fff inset;
    }
    10% {
      box-shadow: 
        3px 0px #fff inset,
        -3px 0px #fff inset,
        -3px -3px #fff inset,
        3px -3px #fff inset,
        0px 3px #fff inset,
        0px -3px #fff inset,
        -20px -40px 0px -17px rgba(118, 10, 35, 1) inset,
        -23px -44px 0px -17px #fff inset,
        -40px -65px 0px -17px rgba(198, 23, 69, 0) inset,
        -43px -69px 0px -17px #fff inset;
    }
    20% {
      background-color: rgba(228, 162, 160, 0);
      box-shadow: 
        3px 0px #fff inset,
        -3px 0px #fff inset,
        -3px -3px #fff inset,
        3px -3px #fff inset,
        0px 3px #fff inset,
        0px -3px #fff inset,
        -20px -40px 0px -17px rgba(118, 10, 35, 1) inset,
        -23px -44px 0px -17px #fff inset,
        -40px -65px 0px -17px rgba(198, 23, 69, 1) inset,
        -43px -69px 0px -17px #fff inset;
    }
    30% {
      background-color: rgba(228, 162, 160, 1.0);
      box-shadow: 
        3px 0px #fff inset,
        -3px 0px #fff inset,
        -3px -3px #fff inset,
        3px -3px #fff inset,
        0px 3px #fff inset,
        0px -3px #fff inset,
        -20px -40px 0px -17px rgba(118, 10, 35, 1) inset,
        -23px -44px 0px -17px #fff inset,
        -40px -65px 0px -17px rgba(198, 23, 69, 1) inset,
        -43px -69px 0px -17px #fff inset;
    }
    to {
      background-color: rgba(228, 162, 160, 1.0);
      box-shadow: 
        3px 0px #fff inset,
        -3px 0px #fff inset,
        -3px -3px #fff inset,
        3px -3px #fff inset,
        0px 3px #fff inset,
        0px -3px #fff inset,
        -20px -40px 0px -17px rgba(118, 10, 35, 1.0) inset,
        -23px -44px 0px -17px #fff inset,
        -40px -65px 0px -17px rgba(198, 23, 69, 1.0) inset,
        -43px -69px 0px -17px #fff inset;
    }
  }

.greeting {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    margin: 10px auto;
    text-align: center;
}